body{
    text-align: center;
}
#envbut{
    margin-top: 20px;
    margin-bottom: 20px;
}
#orgbut{
    display: none;
    margin-top: 20px;
    margin-bottom: 20px;
}
input{
    margin: 10px;
}
#displayNameWithCommas
{
    border: 1px solid rgb(0, 126, 128);
    padding: 10px;
    background-color: rgb(91, 255, 208);
    border-radius: 10px;
    width: 50%;
    margin: auto;
}
 
#displayNameWithoutCommas
{
    border: 1px solid rgb(255, 0, 247);
    padding: 10px;
    background-color: rgb(247, 167, 240);
    border-radius: 10px;
    width: 50%;
    margin: auto;
}
